<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,900,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>


<script>window.CURRENT_USER_ID = <%= current_user ? current_user.id : -1 %></script>
<!-- <div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false" onClick={this.facebookLogin}></div> -->

<%= yield %>

<script>
  var $body = document.querySelector('body');
// Disable animations/transitions until everything's loaded.
  $body.classList.add('loading');

  window.addEventListener('load', function() {
    window.setTimeout(function() {
      $body.classList.remove('loading');
    }, 100);
  });
</script>

</body>
</html>
