<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>window.CURRENT_USER_ID = <%= current_user ? current_user.id : -1 %> </script>
</head>
<body>
  <% if signed_in? %>
    <p>Logged in as <%= current_user.username %></p>
    <%= button_to "Sign Out", session_url, method: :delete %>
  <% end %>

  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <p><%= error %></p>
    <% end %>
  <% end %>

  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>

<%= yield %>

</body>
</html>
